<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.dao.CityDao">
  <select id="getQzList" resultType="com.bw.vo.Qz">
  SELECT * from t_qz1
  </select>
 <!--  <select id="getCityList" resultType="com.bw.vo.City">
  select * from t_city c left join t_ci_qz z on c.cid=z.cid 
	left join t_qz1 q on z.qid=q.qid 
  </select> -->
  
</mapper>